@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 267 36% 11%;
    --foreground: 270 20% 95%;

    --card: 267 30% 15%;
    --card-foreground: 270 20% 95%;

    --popover: 267 36% 11%;
    --popover-foreground: 270 20% 95%;

    --primary: 271 76% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 275 100% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 270 20% 25%;
    --muted-foreground: 270 15% 65%;

    --accent: 271 76% 63%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 270 20% 30%;
    --input: 270 20% 20%;
    --ring: 271 76% 53%;
    
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply bg-gradient-to-br from-background to-[hsl(275,100%,15%)];
  }
}
